:root {
   --segundarioColor: #FFFFFF;
   --primarioColor: #54A228;
   --tercereoColor: #000000;
}

* {
   font-family: "Roboto", sans-serif;
   list-style: none;
   margin: 0;
   border: 0;
}

.linkNav:link {
   text-decoration: none;
   color: var(--primarioColor);
   transition: color 0.3s ease;
}

a:visited {
   color: var(--primarioColor);
}

a:hover {
   color: var(--tercereoColor);
}

#mainContenedor {
   width: 100%;
   height: auto;
}

#contenedorHeader {
   background-color: var(--segundarioColor);
   display: grid;
   grid-template-columns: 20% auto auto auto auto;
   width: 100%;
   height: 110px;
   top: 0;
   align-content: center;
   text-align: center;
   align-items: center;
}

#logoCorpmetales {
   width: 75%;
   height: 62%;
   margin-top: 2%;
   margin-left: 12%;
   margin-right: 10%;
   cursor: pointer;
}

.BotonesNavPrincipal {
   color: var(--primarioColor);
   font-size: x-large;
   margin: 5px;
}

/* quienes somos */
#quienesSomos {
   width: 100%;
   height: 640px;
   background-image: url(MkcorpMetales/imgfondoInfo.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: grid;
   grid-template-columns: 60% 40%;
   align-content: center;
   text-align: center;
   align-items: center;
}

#infoQuienSomos {
   background-color: rgba(255, 255, 255, 0.70);
   margin-right: 5%;
   margin-left: 5%;
   border-radius: 20px;
   height: 400px;
}

#CorpmetalesLetraInfo {
   color: var(--primarioColor);
   font-size: 3rem;
   text-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.4);
   margin-top: 5%;
   margin-left: 2%;
   margin-right: 2%;
}

#serviciosMecaTxt {
   color: var(--tercereoColor);
   margin-top: 6%;
   font-size: x-large;
   margin-left: 2%;
   margin-right: 2%;
}

#txtinf {
   color: var(--tercereoColor);
   margin-top: 7%;
   font-size: larger;
   font-weight: 800;
   margin-left: 2%;
   margin-right: 2%;
}

#botonWhatsApp {
   background-color: #55a228f8;
   border-radius: 50px;
   width: 40%;
   margin-left: 30%;
   height: 15%;
   display: grid;
   grid-template-columns: 30% 70%;
   align-content: center;
   text-align: center;
   align-items: center;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

#botonWhatsApp:hover {
   background-color: var(--segundarioColor);
}

#letraBotonwhat {
   font-size: x-large;
   color: var(--segundarioColor);
}

#logoWhatsApp {
   width: 70%;
   margin-left: 25%;
}

/* Secion Nuestros Servicios */
#nuestroServicio {
   background-color: var(--segundarioColor);
   height: 700px;
   display: grid;
   grid-template-rows: 15% 85%;
   margin-bottom: 5%;
}

.tituloSeccion {
   padding-top: 5%;
   margin-left: 5%;
   color: var(--primarioColor);
   font-size: xx-large;
   border-bottom-style: solid;
   border-color: var(--primarioColor);
   border-width: 3px;
   padding-bottom: 40px;
   width: 90%;
}

#serviciosContenedor {
   display: grid;
   grid-template-rows: 10% 90%;
}

#subTitulo {
   margin-left: 5%;
   margin-top: 2%;
   color: var(--tercereoColor);
   font-size: x-large;
}

#seccionesNuestrosServicios {
   margin-left: 10%;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 50% 50%;
}

.secciones {
   display: grid;
   grid-template-rows: 20% 80%;
}

.nombreServicio {
   margin-left: 10%;
   margin-top: 4%;
   font-size: larger;
   color: #3d3d3d;
}

#imgElectroerocion {
   background-image: url(MkcorpMetales/Electroerocion.jpg);
}

.imgSecciones {
   margin-top: 2%;
   margin-right: 50%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

#imgTorno {
   background-image: url(MkcorpMetales/tornoSeccion.jpeg);
}

#imgFresa {
   background-image: url(MkcorpMetales/fresa.jpg);
}

#imgSoldadura {
   background-image: url(MkcorpMetales/soldador.jpg);
}

/*SECCION NUESTROS TRABAJOS*/
#NuestrosTrabajos {
   width: 100%;
   height: 700px;
   background-color: #F2F2F2;
   display: grid;
   grid-template-rows: 15% 85%;
   padding-bottom: 4%;
}

#seccionTrabajos {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
   margin-left: 5%;
}

.bloquesTrabajos {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   margin: 5%;
   margin-left: 0%;
}

#bloqueUno {
   background-image: url(MkcorpMetales/trabajo1.jpg);
}

#bloqueDos {
   background-image: url(MkcorpMetales/trabajo2.jpg);
}

#bloqueTres {
   background-image: url(MkcorpMetales/trabajo3.jpg);
}

#bloqueCuatro {
   background-image: url(MkcorpMetales/trabajo4.jpg);
}

#bloqueCinco {
   background-image: url(MkcorpMetales/trabajo5.jpg);
}

#bloqueSeis {
   background-image: url(MkcorpMetales/trabjo6.jpg);
}

/*SECCION CONTACTANOS*/
#seccionContactanos {
   width: 100%;
   height: 700px;
   background-color: var(--segundarioColor);
   display: grid;
   grid-template-rows: 15% 85%;
   padding-bottom: 4%;
}

#contenedorContactoInf {
   display: grid;
   grid-template-columns: 50% 50%;
   margin-left: 5%;
}

#ubicacion {
   margin-top: 10%;
   font-size: x-large;
}

#duran {
   margin-top: 5%;
   font-size: x-large;
}

#infContactos {
   background-image: url(MkcorpMetales/corpmetalesInf.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   margin: 5%;
   margin-right: 5%;
}
#imgUbi{
   cursor: pointer;
   width: 80%;
   height: 60%;
   background-image: url(MkcorpMetales/Maps.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 5%;
}

@media screen and (max-width: 1120px) {
   
   #contenedorContactoInf {
      
      display: grid;
      grid-template-columns: none;
      grid-template-rows: 50% 50%;
      height: 100vh;
      
   }
   
   #imgUbi{
      
      width: 90%;
      height: 90%;
      
   }
   #contendormaps{
      display: grid;
      grid-template-columns: 50% 50%;
   }

   #infContactos {
      margin: 5%;
      margin-right: 5%;
   }
   #contenedorContactoInf{
      height: 100%;
   }
   #infoQuienSomos {
      
      margin-top: 20%;
      border-radius: 20px;
      height: 300px;
   }
   #botonWhatsApp {

      width: 50%;
      margin-left: 25%;
      height: 25%;

   }
}
@media screen and (max-width: 1000px) {
   #botonWhatsApp {
      margin-top: 10%;
      
   }
   #letraBotonwhat {
      font-size: larger;
      
   }
}

/* Responsive styles for phones */
@media screen and (max-width: 700px) {
   
   #contenedorHeader {
      background-color: var(--segundarioColor);
      display: grid;
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: none;
      width: auto;
      height: 100vh;
      top: 0;
      align-content: center;
      text-align: center;
      align-items: center;
   }
   #logoCorpmetales {
      
      width: 75%;
      height: 62%;
      margin: none;
      margin: 5%;
      padding-left: 5%;
      cursor: pointer;
   }
   #quienesSomos {
      
      grid-template-rows: 60% 40%;
      grid-template-columns: none;
      align-content: center;
      text-align: center;
      align-items: center;
   }
   #imgUbi{
      width: 90%;
      height: 90%;
      border: 2%;
   }
   #ubicacion {
      margin-bottom: 40%;
      font-size: x-large;
   }
   #botonWhatsApp {
      margin-top: 0;
   }
   #letraBotonwhat {
      font-size: x-large;
      
   }
   #seccionTrabajos {
      display: grid;
      grid-template-columns: auto auto ;
      grid-template-rows: auto auto auto;
      margin-left: 5%;
   }
   .BotonesNavPrincipal {
      text-decoration: underline;
      font-size: x-large;
      margin: 10px;
   }
   .linkNav:hover {
      color: var(--primarioColor);
   }
}
